.box {
    padding: 8px;
    border-radius: 8px;
    color: #fff;
}

.total {
    background-color: #007bff;
}

.active {
    background-color: darkorange;
}

.recovered {
    background-color: #127729;
}

.deaths {
    background-color: #ff073a;
}